{deps, [
{gproc,".*",{git,"https://github.com/uwiger/gproc",""}},{lager,".*",{git,"https://github.com/basho/lager","master"}},{gen_logger,".*",{git,"https://github.com/emqtt/gen_logger","1.2"}},{esockd,".*",{git,"https://github.com/emqtt/esockd","v4.1.1"}},{mochiweb,".*",{git,"https://github.com/emqtt/mochiweb","4.0.1"}}
]}.
{erl_opts, [{parse_transform,lager_transform}]}.
